<!DOCTYPE html>
<head>
    <title>Email Generator Tool</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/css.css')}}">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
    <div class="container">
        
        <div class="header">
        <h1>Phishing Email Generator</h1>
        <a href="/" class="back"> Back to homepage</a>
        </div>
        <p>Generate personalised phishing emails for simulation based on scraped data</p>

        <div class="email-options">
            <h3 class="select-email">Select Email Type</h3>
            <select class="button" id="template">
                <option value="urgent">Urgent IT Security Email</option>
                <option value="research">Research Collaboration</option>
                <option value="conference">Conference Opportunity</option>
                <option value="grant">Grant Opportunity</option>
            </select>

            <button class="button" id="generatebutton" onclick="generateEmails()"> Generate Emails</button>
        </div>

        <div id="emailstatus"></div>
        <div id="emailResults"></div>
    </div>
    <div class="footer">
        <p>This program has been created by Carlo de Retuerto for a final year project as a student at the University of Brighton.</p>
        <p>Contact details and access to the code repository can be found here.</p>
        <a href="https://github.com/carlo-der/Red-Teaming-Application" target="_blank">
            <img src="/static/images/Github.png" alt="Github Profile" class="social">
        </a>
        <a href="www.linkedin.com/in/carlo-de-retuerto" target="_blank">
            <img src="/static/images/linkedin.png" alt="LinkedIn Profile" class="social">
        </a>
        <a href="mailto:cdr29@uni.brighton.ac.uk" target="_blank">
            <img src="/static/images/emaillogo2.png" alt="University Email Address" class="social">
        </a>
        
    </div>
    
</body>