<!DOCTYPE html>
<html>
<head>
    <title>Simulated Phishing Email Bot</title>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/css.css')}}">
</head>

<body>
    <div class="container">
    <h1>Red Teaming Application</h1>
    <p>Click button to commence web crawling and scrape staff information</p>
    <p>This tool will run a web crawl on the Univiersity of Brighton website in order to collect information to be used for the generation of personalised emails.</p>
    <p>All information that has been scraped is publicly available through the University of Brighton website and will only be used by this tool in order to promote phishing awareness.</p>

    <button id="crawler" onclick="runCrawler()">Run crawler</button>

    <div id="status"></div>
    <div id="result">
        <h2>Scraped Profiles and Relevant Information</h2>
        <div id="text-results"></div>
    </div>
    </div>
    

</body>
</html>