<!DOCTYPE html>
<html>
<head>
    <title>Simulated Phishing Email Bot</title>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/css.css')}}">
</head>

<body>
    <div class="container">
    <div class="header">
    <h1>Red Teaming Application</h1>
    <a href="/" class="button"> Back to homepage</a>
    </div>
    
    <p>Click button to commence web crawling and scrape staff information</p>
    <p>This tool will run a web crawl on the Univiersity of Brighton website in order to collect information to be used for the generation of personalised emails.</p>
    <p>All information that has been scraped is publicly available through the University of Brighton website and will only be used by this tool in order to promote phishing awareness.</p>

    <button class="button" id="crawler" onclick="runCrawler()">Run crawler</button>

    <div id="status"></div>
    <div class="crawler-info" id="result">
        <h2 class="scrape-headings">Scraped Profiles and Relevant Information</h2>
        <div id="text-results"></div>
    </div>
    </div>

    <div class="footer">
        <p>This program has been created by Carlo de Retuerto for a final year project as a student at the University of Brighton.</p>
        <p>Contact details and access to the code repository can be found here.</p>
        <a href="https://github.com/carlo-der/Red-Teaming-Application" target="_blank">
            <img src="/static/images/Github.png" alt="Github Profile" class="social">
        </a>
        <a href="www.linkedin.com/in/carlo-de-retuerto" target="_blank">
            <img src="/static/images/linkedin.png" alt="LinkedIn Profile" class="social">
        </a>
        <a href="mailto:cdr29@uni.brighton.ac.uk" target="_blank">
            <img src="/static/images/emaillogo2.png" alt="University Email Address" class="social">
        </a>
        
    </div>
    

</body>
</html>