<!DOCTYPE html>
<html>
<head>
    <title>Simulated Phishing Email Bot</title>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/css.css')}}">
</head>

<body>
    <h1>Red Teaming Application</h1>
    <p>Click button to commence web crawling and scrape staff information</p>

    <button id="crawler" onclick="runCrawler()">Run crawler</button>

    <div id="status"></div>
    <div id="result">
        <h2>Scraped Profiles and Relevant Information</h2>
        <div id="text-results"></div>
    </div>

    

</body>
</html>